<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="com.androidautomationproject" verbose="1" preserve-order="true">
	
	<listeners>
		<listener class-name="com.androidautomationproject.util.CustomReporter" />
	</listeners>
	
	<packages>
		<package name="com.androidautomationproject.test" />
	</packages>

	<test name="AppHomePageTest">
		<classes>
			<class name="com.androidautomationproject.test.AppHomePageTest">
				<methods>
					<exclude name="test_swipeDownAppHomePage"/>
					<include name="test_clickEngFromBangladeshiBengOption" />	
					<include name="test_clickEnglishFromBengaliOption" />	
					<include name="test_clickEnglishFromHindiOption" />					
				</methods>
			</class>
		</classes>
	</test>
	
	<!-- if you want to add more category, add like below: -->
	<!-- <test name="yourcategoryname">
		<classes>
			<class name="com.androidautomationproject.test.yourcategoryname">
				<methods>
					<include name="test_testcaseName"/>
					<include name="test_testcaseName" />					
				</methods>
			</class>
		</classes>
	</test> -->
	 
</suite>